body{
  margin: auto;
  text-align: center;
}



.top_bar{
  text-align: center;
  width: 1305px;

}
.bottom-brand{
  position: relative;
  right: 100px;



}
.right_bar{
  position: relative;
  left: 500px;
  bottom: 30px;


}

.right_bar_button{
  position: relative;
  left: 100px;
  bottom: 18px;
}

.Haeder{
    width: auto;
    height: 500px;
    background-color: purple;

}

.inner-hader{
  position: relative;
  top: 150px;
  color: white;
}

.continer{
  margin: auto 300px;
  position: relative;
  bottom: 150px;
  width: 1305px;
  height: 852px;

}

.box{
  width: 852px;
  height: 1200px;
  display: flex;

}
.cloums{
  display: flex;
  background-color: white;

}
.cloum{
 width: 400px;
 height: 800px;
 margin: 30px;

}
.descripstion{
  margin: auto;
  width: 80%;
}
