body {}

/* ------mnue and bar------*/
.img-logo {
  width: 50px;
  height: 50px;
}

.bar-right {
  width: 200px;
}

.btn-mantorship {
  display: inline-block;
  top: 5px;
  padding: 15px 30px 30px 0px;
}

.btn-conacat {
  background-color: #ffffff;
  border-radius: 28px;
  border: 1px solid #7410f7;
  display: inline-block;
  cursor: pointer;
  color: #7410f7;
  font-family: Trebuchet MS;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.btn-conacat:hover {
  background-color: #7410f7;
  color: white;
}

.btn-conacat:active {
  position: relative;
  top: 1px;
}

/* ------hader------*/
.hero-body {
  justify-content: center;
}

.main-hader {
  margin-top: 3%;
  margin-bottom: 10%;
}

.culs-is-centered {
  display: flex;
  justify-content: center;
}

.cul {
  text-align: center;
}

.hader-title {
  padding: 3%;
}

.hader-title-bottom {
  padding: 0% 0% 10% 0%;
}
.avter{
  padding: 0% auto 3% auto;

}
.hero-foot {
  text-align: center;
}
